/* Best Sites */

.best-sites {
    padding: 3rem 1rem 3rem 1rem;
    background-color: rgb(238, 232, 196);
}

.best-sites__content {
    width: 96%;
    margin: 0 auto;
}

.best-sites__title {
    color: #1b6400;
    line-height: 4rem;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.best-sites__text {
    text-align: justify;
}

.best-sites__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
}

.best-sites__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 420px;
    min-height: 780px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.473) 0px 5px 15px;
    align-items: center;
    border-radius: 1rem;
}

.best-sites__card__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.best-sites__card__title {
    margin-top: 1rem;
    font-size: 2rem;
    color: #1b6400;
    text-align: center;
}

.best-sites__card__text {
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
}

.best-sites__card__bg1 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #8e2de2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-top: 3px solid black;
}

.best-sites__card__bg2 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-top: 3px solid black;
}

.best-sites__card__bg3 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #7b4397;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-top: 3px solid black;
}

.best-sites__card__bg4 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #00bf8f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001510, #00bf8f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-top: 3px solid black;
}

@media only screen and (max-width: 650px) {
    
    .best-sites__title {
        line-height: 3rem;
        font-size: 3rem;
        color: #1b6400;
        margin-bottom: 1rem;
        text-align: center;
    }
}
