/* Join Us */

.join-us {
    padding: 3rem 1rem 1rem 1rem;
    background-color: rgb(238, 232, 196);
}

.join-us__content {
    width: 96%;
    margin: 0 auto;
}

.join-us__title {
    color: #1b6400;
    line-height: 4rem;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.join-us__quote {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}

.join-us__text {
    margin-bottom: 1.5rem;
    text-align: justify;
}

.join-us__row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0 3rem 0;
}

.join-us__form {
    flex-basis: 30%;
    min-width: 300px;
    flex-grow: 1;
}

.join-us__form__layout {
    max-width: 600px;
    height: 920px;
    padding: 1rem;
    outline: 5px solid rgb(0, 0, 0);
    outline-offset: 5px;
    border-radius: 1rem;
    background-color: #0e2207;
}

.join-us__form__label {
    font-weight: 900;
    font-size: 1.2rem;
    color: whitesmoke;
}

.join-us__form__text-input {
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 1.5rem;
    margin: 5px 0 20px 0;
    padding-left: 0.5rem;
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.join-us__form__textarea {
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 12rem;
    margin: 5px 0 20px 0;
    padding-left: 0.5rem;
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.join-us__form__button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button--form {
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.4rem 1rem;
    background-color: #42b41c;
    border-radius: 2rem;
    border: 2px solid white;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.button--form:hover,
.button--form:focus {
    padding: 0.4rem 1rem;
    border: 2px solid rgb(212, 200, 200);
    background-color: black;
    border-radius: 2rem;
    font-weight: bold;
    color: #42b41c !important;
}

.join-us__form__text {
    color: whitesmoke;
    margin-top: 3rem;
}

/* Merch Grid */

.join-us__grid {
    flex-basis: 60%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.join-us__grid__layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
    grid-auto-flow: row;
    gap: 1rem;
}

.join-us__grid__item {
    width: 100%;
    height: 100%;
}

.join-us__grid__item__img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.2s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.join-us__grid__item__img:hover {
    transform: scale(1.1);
}

/* Grid Images */

.backpack {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

.hat {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.blanket {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.hoodie {
    grid-column: 5 / span 1;
    grid-row: 1 / span 3;
}

.t-shirt {
    grid-column: 2 / span 3;
    grid-row: 3 / span 3;
}

.bottle {
    grid-column: 5 / span 1;
    grid-row: 4 / span 2;
}

.hood-blanket {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
}

.onesie {
    grid-column: 1 / span 1;
    grid-row: 7 / span 2;
}

.sweatshirt {
    grid-column: 2 / span 1;
    grid-row: 6 / span 3;
}

.mug {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
}

.jacket {
    grid-column: 3 / span 1;
    grid-row: 7 / span 2;
}

.gamer {
    grid-column: 4 / span 2;
    grid-row: 6 / span 3;
}

/* Media Query for Tablet screen down to Mobile*/

@media only screen and (max-width: 1200px) {
    
    /* Join Us */

    .join-us__row {
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        gap: 3rem;
        flex-wrap: wrap;
        padding: 0.5rem 0 3rem 0;
    }

    .join-us__form {
        flex-basis: 30%;
        min-width: 280px;
        flex-grow: 1;
        margin: 0 auto;
    }

    .join-us__grid {
        flex-basis: 65%;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    .join-us__grid__layout {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 100px;
        grid-auto-flow: row;
        gap: 0.5rem;
    }

    /* Grid Images */

    .backpack {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .hat {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .blanket {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .hoodie {
        grid-column: 5 / span 1;
        grid-row: 1 / span 3;
    }

    .t-shirt {
        grid-column: 1 / span 3;
        grid-row: 3 / span 3;
    }

    .bottle {
        grid-column: 5 / span 1;
        grid-row: 4 / span 2;
    }

    .hood-blanket {
        grid-column: 4 / span 1;
        grid-row: 3 / span 3;
    }

    .onesie {
        grid-column: 3 / span 1;
        grid-row: 8 / span 2;
    }

    .sweatshirt {
        grid-column: 1 / span 1;
        grid-row: 6 / span 4;
    }

    .mug {
        grid-column: 2 / span 1;
        grid-row: 8 / span 2;
    }

    .jacket {
        grid-column: 4 / span 2;
        grid-row: 6 / span 4;
    }

    .gamer {
        grid-column: 2 / span 2;
        grid-row: 6 / span 2;
    }
}

/* Media Query for Mobile*/

@media only screen and (max-width: 650px) {

    /* Join Us */
    .join-us__title {
        color: #1b6400;
        line-height: 3rem;
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .join-us__quote {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .join-us__text {
        margin-bottom: 1.5rem;
        text-align: justify;
    }

    .join-us__grid__layout {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 100px;
        grid-auto-flow: row;
        gap: 0.5rem;
    }

    /* Grid Images */

    .backpack {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }

    .hat {
        grid-column: 4 / span 3;
        grid-row: 1 / span 2;
    }

    .blanket {
        grid-column: 1 / span 3;
        grid-row: 3 / span 2;
    }

    .hoodie {
        grid-column: 4 / span 3;
        grid-row: 3 / span 2;
    }

    .t-shirt {
        grid-column: 1 / span 3;
        grid-row: 5 / span 2;
    }

    .bottle {
        grid-column: 4 / span 3;
        grid-row: 5 / span 2;
    }

    .hood-blanket {
        grid-column: 1 / span 3;
        grid-row: 7 / span 2;
    }

    .onesie {
        grid-column: 4 / span 3;
        grid-row: 7 / span 2;
    }

    .sweatshirt {
        grid-column: 1 / span 3;
        grid-row: 9 / span 2;
    }

    .mug {
        grid-column: 4 / span 3;
        grid-row: 9 / span 2;
    }

    .jacket {
        grid-column: 1 / span 3;
        grid-row: 11 / span 2;
    }

    .gamer {
        grid-column: 4 / span 3;
        grid-row: 11 / span 2;
    }
}