/* Media Query for Tablet screen down to Mobile*/

@media only screen and (max-width: 1200px) {
    /* Header Tablet */

    /* Navbar */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Homepage */

    .home-content {
        position: absolute;
        margin: 35rem auto;
        width: 100%;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: movefromleft 3s ease-in;
    }

    .home-content h1 {
        font-size: 4rem;
        transition: ease all 1s;
    }

    .line {
        width: 20rem;
        height: 0.25rem;
        background-color: #42b41c;
        margin: 0.5rem auto;
    }

    .home-content h2 {
        font-size: 2.5rem;
        margin-bottom: 0.8em;
        transition: ease all 1s;
    }

    /* About Vanguard/Destiny */

    /* Best Apps */
    .app-desc {
        flex-basis: 550px;
        display: flex;
        flex-grow: 1;
        padding: 0.5rem;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    .app-desc .row {
        justify-content: center;
    }

    /* Join Us */

    #join-us .row {
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0.5rem 0 3rem 0;
    }

    .form {
        flex-basis: 30%;
        min-width: 280px;
        flex-grow: 1;
        margin: 0 auto;
    }

    .grid {
        flex-basis: 65%;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    .merch-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 100px;
        grid-auto-flow: row;
        gap: 0.5rem;
    }

    /* Grid Images */

    #backpack {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    #hat {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    #blanket {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    #hoodie {
        grid-column: 5 / span 1;
        grid-row: 1 / span 3;
    }

    #t-shirt {
        grid-column: 1 / span 3;
        grid-row: 3 / span 2;
    }

    #bottle {
        grid-column: 5 / span 1;
        grid-row: 4 / span 1;
    }

    #hood-blanket {
        grid-column: 4 / span 1;
        grid-row: 3 / span 3;
    }

    #onesie {
        grid-column: 5 / span 1;
        grid-row: 5 / span 1;
    }

    #sweatshirt {
        grid-column: 1 / span 1;
        grid-row: 5 / span 4;
    }

    #mug {
        grid-column: 2 / span 2;
        grid-row: 7 / span 2;
    }

    #jacket {
        grid-column: 4 / span 2;
        grid-row: 6 / span 3;
    }

    #gamer {
        grid-column: 2 / span 2;
        grid-row: 5 / span 2;
    }
}

/* Media Query for Mobile*/

@media only screen and (max-width: 700px) and (orientation: landscape) {

    .navbar {
        background-color: black;
    }

    .nav-item {
        margin: 1rem 0;
    }

    /* Homepage */

    .home-content {
        width: max-content;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem auto;
    }

    .home-content h1 {
        font-size: 2.2rem;
        transition: ease all 1s;
    }

    .line {
        width: 20rem;
        height: 0.25rem;
        background-color: #42b41c;
        margin: 0.5rem auto;
    }

    .home-content h2 {
        font-size: 1.8rem;
        margin-bottom: 0.8em;
        transition: ease all 1s;
    }
}

@media only screen and (max-width: 650px) {

    .navbar {
        background-color: black;
    }

    .logo {
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Homepage */

    .home-content {
        position: absolute;
        margin: 30rem auto;
        width: 100%;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: movefromleft 3s ease-in;
    }

    .home-content h1 {
        font-size: 2rem;
        transition: ease all 1s;
    }

    .line {
        width: 20rem;
        height: 0.25rem;
        background-color: #42b41c;
        margin: 0.5rem auto;
    }

    .home-content h2 {
        font-size: 1.6rem;
        margin-bottom: 0.4em;
        transition: ease all 1s;
    }

    /* About Vanguard */

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1rem 1rem 6rem 1rem;
    }

    .grid-wrapper h2 {
        font-size: 2rem;
    }

    .grid-wrapper h3 {
        font-size: 2rem;
    }

    .grid-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        height: 200px;
        border-radius: 1rem;
        color: whitesmoke;
        box-shadow: rgba(0, 0, 0, 0.473) 0px 5px 15px;
    }

    .grid-box i {
        color: whitesmoke;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .van-content h1 {
        line-height: 3rem;
        font-size: 3rem;
        color: #407e2b;
        margin-bottom: 1rem;
    }

    /* About Destiny */

    .about-destiny h1 {
        color: #42b41c;
        line-height: 3rem;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    /* Join Us */

    .merch-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 100px;
        grid-auto-flow: row;
        gap: 0.5rem;
    }

    /* Grid Images */

    #backpack {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }

    #hat {
        grid-column: 4 / span 3;
        grid-row: 1 / span 2;
    }

    #blanket {
        grid-column: 1 / span 3;
        grid-row: 3 / span 2;
    }

    #hoodie {
        grid-column: 4 / span 3;
        grid-row: 3 / span 2;
    }

    #t-shirt {
        grid-column: 1 / span 3;
        grid-row: 5 / span 2;
    }

    #bottle {
        grid-column: 4 / span 3;
        grid-row: 5 / span 2;
    }

    #hood-blanket {
        grid-column: 1 / span 3;
        grid-row: 7 / span 2;
    }

    #onesie {
        grid-column: 4 / span 3;
        grid-row: 7 / span 2;
    }

    #sweatshirt {
        grid-column: 1 / span 3;
        grid-row: 9 / span 2;
    }

    #mug {
        grid-column: 4 / span 3;
        grid-row: 9 / span 2;
    }

    #jacket {
        grid-column: 1 / span 3;
        grid-row: 11 / span 2;
    }

    #gamer {
        grid-column: 4 / span 3;
        grid-row: 11 / span 2;
    }

    /* Footer */
    footer .row {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 1rem;
        text-align: center;
    }

    .col .logo {
        padding: 0;
    }

    .col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #298939;
    }

    .social-networks {
        display: flex;
    }

    .social-networks li {
        margin: 0 1rem;
        font-size: 1.5rem;
    }

    .social-networks i {
        color: #298939;
        padding-bottom: 0.5rem;
    }
}