@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Poppins:wght@400;600;700&display=swap");

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: "Exo 2", sans-serif;
}

p {
    color: #525252;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.active-link {
    color: #42b41c !important;
    text-decoration: 3px solid overline;
    text-decoration-color: whitesmoke;
}

.cta {
    padding: 0.4rem 1rem;
    border: 2px solid whitesmoke;
    background-color: #42b41c;
    border-radius: 2rem;
    font-weight: bold;
    color: black !important;
}

.cta:hover,
.cta:focus {
    padding: 0.4rem 1rem;
    border: 2px solid rgb(212, 200, 200);
    background-color: black;
    border-radius: 2rem;
    font-weight: bold;
    color: #42b41c !important;
}

.container {
    width: 96%;
    margin: 0 auto;
}

/* Header*/

/* Navbar built with Hamburger menu using guide from https://dev.to/ */
header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/witch.webp");
    background-position: bottom;
    background-size: cover;
    overflow-x: hidden;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #000000ab;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #198d19;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1rem;
    color: whitesmoke;
}

.nav-link:hover,
.nav-link:focus {
    color: #42b41c;
    text-decoration: 3px solid underline;
    text-decoration-color: black;
    text-underline-offset: 5px;
}

/* Homepage */

.home-content {
    width: max-content;
    margin-top: 25rem;
    margin-left: 2rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content h1 {
    font-size: 3rem;
}

.line {
    width: 20rem;
    height: 0.25rem;
    background-color: #42b41c;
    margin: 0.5rem auto;
}

.home-content h2 {
    font-size: 2.2rem;
    margin-bottom: 0.8em;
    color: whitesmoke;
}

/* About Vangaurd */

.van-content {
    padding: 6rem 1rem 1rem 1rem;
    text-align: justify;
    color: whitesmoke;
}

.van-content h1 {
    line-height: 4rem;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #42B41C;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 2rem;
    padding: 1rem 1rem 6rem 1rem;
}

.grid-wrapper h2 {
    font-size: 3rem;
}

.grid-wrapper h3 {
    font-size: 2rem;
}

.grid-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 300px;
    border-radius: 1rem;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.473) 0px 5px 15px;
}

.grid-box i {
    color: whitesmoke;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.weapons {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.armour {
    background: #525252;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.seals {
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cosmetics {
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* About Destiny */

.about-destiny {
    background-color: #0e2207;
}

.about-destiny-content {
    padding: 6rem 1rem 1rem 1rem;
    color: whitesmoke;
}

.about-destiny p {
    text-align: justify;
    color: whitesmoke;
}

.about-destiny h1 {
    color: #42b41c;
    line-height: 4rem;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.about-destiny h2 {
    color: #42b41c;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.about-destiny iframe {
    width: 100%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.473) 0px 5px 15px;
}

/* Best Sites */

#best-sites {
    padding: 6rem 1rem 1rem 1rem;
}

#best-sites h1 {
    color: #42b41c;
    line-height: 4rem;
    font-size: 4rem;
    margin-bottom: 1rem;
}

#best-sites p {
    text-align: justify;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 420px;
    min-height: 740px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    box-shadow: rgb(255, 255, 255) 0px 10px 30px -10px;
    align-items: center;
    border-radius: 1rem;
}

.card>img {
    width: 100%;
    height: 12.5rem !important;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    object-fit: cover;
}

#best-sites h2 {
    margin-top: 1rem;
    font-size: 2rem;
    color: #42B41C;
    text-align: center;
}

.card p {
    padding: 1rem;
    font-size: .9rem;
    text-align: justify;
}

#best-sites .card a {
    margin-bottom: 1rem;
    padding: .4rem 1rem;
    background-color: #42B41C;
    border-radius: 2rem;
    font-weight: bold;
    color: black !important;
    align-self: center;
}

.cta-bg1 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border-top: 3px solid black;
} 

.cta-bg2 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #525252;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border-top: 3px solid black;
} 

.cta-bg3 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border-top: 3px solid black;
} 

.cta-bg4 {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border-top: 3px solid black;
}

#best-sites a:hover,
#best-sites a:focus {
    padding: .4rem 1rem;
    border: 2px solid rgb(212, 200, 200)!important;
    background-color: black;
    border-radius: 2rem;
    font-weight: bold;
    color: #42B41C !important;
    border: 2px solid rgb(0, 0, 0);
}

.hon-mention h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: #42B41C;
}

.hon-mention p {
    margin-bottom: 1rem;
}



/* Media Query for Tablet screen down to Mobile*/

@media only screen and (max-width: 1100px) {
    /* Header Tablet */

    /* Navbar */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        margin-right: 1rem;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Homepage */

    .home-content {
        width: max-content;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30rem auto;
    }

    .home-content h1 {
        font-size: 4rem;
        transition: ease all 1s;
    }

    .line {
        width: 20rem;
        height: 0.25rem;
        background-color: #42b41c;
        margin: 0.5rem auto;
    }

    .home-content h2 {
        font-size: 2.5rem;
        margin-bottom: 0.8em;
        transition: ease all 1s;
    }

    /* About Vanguard/Destiny */

}

/* Media Query for Mobile*/

@media only screen and (max-width: 700px) and (orientation: landscape) {
    .navbar {
        background-color: black;
    }

    .nav-item {
        margin: 1rem 0;
    }

    /* Homepage */

    .home-content {
        width: max-content;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem auto;
    }

    .home-content h1 {
        font-size: 2.2rem;
        transition: ease all 1s;
    }

    .line {
        width: 20rem;
        height: 0.25rem;
        background-color: #42b41c;
        margin: 0.5rem auto;
    }

    .home-content h2 {
        font-size: 1.8rem;
        margin-bottom: 0.8em;
        transition: ease all 1s;
    }
}

@media only screen and (max-width: 650px) {
    .navbar {
        background-color: black;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        margin-right: 1rem;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Homepage */

    .home-content {
        width: max-content;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25rem auto;
    }

    .home-content h1 {
        font-size: 2rem;
        transition: ease all 1s;
    }

    .line {
        width: 20rem;
        height: 0.25rem;
        background-color: #42b41c;
        margin: 0.5rem auto;
    }

    .home-content h2 {
        font-size: 1.6rem;
        margin-bottom: 0.4em;
        transition: ease all 1s;
    }

    /* About Vanguard */

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: minmax(50px, auto) 1fr;
        gap: 2rem;
        padding: 1rem 1rem 6rem 1rem;
    }

    .van-content h1 {
        line-height: 3rem;
        font-size: 3rem;
        color: #407e2b;
        margin-bottom: 1rem;
    }

    /* About Destiny */

    .about-destiny h1 {
        color: #42b41c;
        line-height: 3rem;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}