@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.active-link {
    color: #42B41C!important;
    text-decoration: 3px solid overline;
    text-decoration-color: whitesmoke;
}

.cta {
    padding: .4rem 1rem;
    border: 2px solid whitesmoke;
    background-color: #42B41C;
    border-radius: 2rem;
    font-weight: bold;
    color: black !important;
}

.cta:hover,
.cta:focus {
    padding: .4rem 1rem;
    border: 2px solid rgb(212, 200, 200);
    background-color: black;
    border-radius: 2rem;
    font-weight: bold;
    color: #42B41C !important;
}


/* Header */

/* Navbar built with Hamburger menu using guide from https://dev.to/ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #101010;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #198d19;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1rem;
    color: whitesmoke;
}

.nav-link:hover,
.nav-link:focus {
    color: #42B41C;
    text-decoration: 3px solid underline;
    text-decoration-color: black;
    text-underline-offset: 5px;
}

/* Media Query for Tablet screen down to Mobile*/
@media only screen and (max-width: 1080px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
