/* Thank You */
.thank-you {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
}

.thank-you__title {
    font-size: 4rem;
    color: #42b41c;
    margin-bottom: 1rem;
}

.thank-you__text {
    font-size: 2rem;
    max-width: 60rem;
    color: whitesmoke;
    margin-bottom: 2rem;
}

/* Media Query for Mobile*/

@media only screen and (max-width: 900px) and (orientation: landscape) {

    .thank-you__title {
        font-size: 2.5rem;
        color: #42b41c;
        margin-bottom: 1rem;
    }
    
    .thank-you__text {
        font-size: 1rem;
        color: whitesmoke;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    
    .thank-you {
        width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }
    
    .thank-you__title {
        font-size: 3.5rem;
        color: #42b41c;
        margin-bottom: 1rem;
    }
    
    .thank-you__text {
        font-size: 1.5rem;
        color: whitesmoke;
        margin-bottom: 2rem;
    }
}